@property --about-page-text-color{
    syntax: '<color>';
    inherits: false;
    initial-value: black;
}
@property --about-page-background-color{
    syntax: '<color>';
    inherits: false;
    initial-value: white;
}
body{
    margin: 0;
    padding: 0;
}
.about-page-container{
    background-color: var(--about-page-background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.about-page-content{
    width: 60vw;
    height: 100vh;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-page-image{
    /* background-color: lightcoral; */
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-page-text{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.about-page-heading{
    color: var(--about-page-text-color);
    font-size: 5rem;
}
.about-page-description{
    color: var(--about-page-text-color);
    font-size: 2rem;
}