:root{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* firefox scroll bar*/
html{
    scrollbar-width: thin;
    scrollbar-color: #ADD8E6 black;
}

/* other browsers scroll bar */
html::-webkit-scrollbar{
    width: 0.4166666666666667vw;
}
html::-webkit-scrollbar-thumb{
    background-color: blue;
}
/* html::-webkit-scrollbar-thumb:hover{
    background-color: #0256ffdc;
} */
html::-webkit-scrollbar-track{
    background-color: black;
}
.page-1{
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
}
.navbar{
    width: 100vw;
    height: 3rem;
    background-color: rgba(255,255,255,0.05);
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 999;
    justify-content: space-between;
    box-sizing: border-box;
}
.navigation-options{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    color: white;
}
.about-button{
    font-size: 1.2rem;
}
.about-button:hover{
    color: #0094B2;
    cursor: pointer;
}
.contact-button{
    font-size: 1.2rem;
}
.contact-button:hover{
    color: #0094B2;
    cursor: pointer;
}
.cart-icon{
    width: fit-content;
    height: 80%;
    margin-right: 10px;
}
.cart-icon:hover{
    cursor: pointer;
    width: 22%;
    height: 75%;

}

.logo-space{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* position: fixed; */
    /* position: absolute; */
}
.fm-tech-logo{
    width: 3rem;
    height: 3rem;
}
.fm-tech-logo:hover{
    cursor: pointer;
}
.blank-space{
    width: 80vw;
    height: 100%;
    /* background-color: lightcoral; */
}
.company-name-text{
    width: 100vw;
    height: 100vh;
    font-size: 50px;
    z-index: 11;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover-button{
    width: fit-content;
    height: fit-content;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    font-size: 3rem;
    box-shadow: 0 .0625rem .1875rem 0 rgba(0,0,0,.5),0 .25rem .5rem .1875rem rgba(0,0,0,.5);
}
.discover-button:hover{
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
}
.page-2{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}
.page-2-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 10;
    /* background-image: linear-gradient(#060d1b, #009cbb); */
    background-color: #171a21;
    opacity: 0.8;
}
.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    
}
.product-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}
.company-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    background-color: rgba(255,255,255,0.02);
    z-index: 12;
}
.company-info-text{
    font-size: 2rem;
    color: white;
}
.company-contact-text{
    font-size: 1.2rem;
    color: white;
}
.wallet-section{
    /* background-color: lightpink; */
    height: 100vh;
    width: calc(100vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.wallet-image{
    width: 15vw;
    height: 15vw;
    background-color: lightblue;
    border-radius: 50%;
    box-shadow: 0 .0625rem .1875rem 0 rgba(0,0,0,.5),0 .25rem .5rem .1875rem rgba(0,0,0,.5);
}
.wallet-image:hover{
    cursor: pointer;
}
.phone-case-section{
    /* background-color: lightblue; */
    height: 100vh;
    width: calc(100vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.phone-case-image{
    width: 15vw;
    height: 15vw;
    background-color: lightblue;   
    border-radius: 50%;
    box-shadow: 0 .0625rem .1875rem 0 rgba(0,0,0,.5),0 .25rem .5rem .1875rem rgba(0,0,0,.5);
}
.phone-case-image:hover{
    cursor: pointer;
}
.key-chain-section{
    /* background-color: lightyellow; */
    height: 100vh;
    width: calc(100vw / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.key-chain-image{
    width: 15vw;
    height: 15vw;
    background-color: lightblue;
    border-radius: 50%;
    box-shadow: 0 .0625rem .1875rem 0 rgba(0,0,0,.5),0 .25rem .5rem .1875rem rgba(0,0,0,.5);    
}
.key-chain-image:hover{
    cursor: pointer;
}
.product-text{
    color: white;
    font-size: 2.5rem;
}
.buy-now-button{
    width: fit-content;
    height: fit-content;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    font-size: 2rem;
}
.buy-now-button:hover{
    background-color: white;
    color: black;
}

.bg-image{
    z-index: 10;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.bg-image-2{
    z-index: 10;
    width: 100vw;
    height: 100vh;
    transform: scaleY(-1);
    filter: blur(3px);
    object-fit: cover;
}
